@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../../public/Pretendard/web/static/woff/Pretendard-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: 'Pretendard-Regular';
  word-break: keep-all;
}


body {
  margin: 0;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

a {
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  /* color: inherit; */
}

.nav-var {
  display: flex;
  margin: 0px auto;
  height: 70px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 93%;
}

.logo > a {
  font-family: 'Pretendard-Bold';
  font-size: 28px;
  font-weight: 800;
  color: #3b3b3b;

}

.nav-menu {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  margin-right: 5px;
  line-height: 38px;
}

.nav-menu li > a {
  padding: 0px 30px;
  display: inline-block;
  color: #3b3b3b;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.item:hover {
  left: 0px;
  background-color: #3b3b3b;
  height: 100%;
  z-index: 100;
  color: white;

}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  font-size: small;
  height: 70px;
  line-height: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  color: #555;
  position: fixed;
  padding: 0px 70px;
}

.main-view {
  position: absolute;
  inset: 70px;
  overflow: hidden;
}

.main-view > div {
  height: 100%;
  display: flex;
}

.img-view {
  width: 43%;
  position: relative;
}

.img-view-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(1);
  transition: 1.5s;

}

.img-view-img:hover {
  transition: 1.5s;
  filter: grayscale(0);
}

.text-view {
  width: calc(65%);
  background-color: white;
  overflow-y: scroll;
}

.contents-view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.contents {
  padding-left: 6.25rem;
}

.my-name {
  font-family: 'Pretendard-Bold';
  font-size: 4.1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  color: #3b3b3b;
  opacity: 1;
  transform: none;
}

.name-underline {
  display: inline-block;
  width: 4.375rem;
  height: 0.313rem;
  background-color: #3b3b3b;
  margin-bottom: 1.875rem;
}

.my-pr {
  font-size: 1.563rem;
  margin-bottom: 2.188rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #3b3b3b;
  display: flex;
  opacity: 1;
  transform: none;
}

.text-tani-box {
  margin-left: 0.5rem;
  position: relative;
  width: 100px;
  transform-origin: 50% 100%;
}

.text-tani-box > div {
  bottom: -1.563rem;
  color: #3b3b3b;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Bold';
  font-weight: 600;
}

.active {
  opacity: 1;
  bottom: 0px;
  visibility: visible;
  transform: rotateX(0deg);
  width: 100%;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: rotateX(-180deg);
}

.button {
  width: 100%;
  opacity: 1;
  transform: none;
}

.button > a {
  text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #3b3b3b;
    padding: 1.75rem 2.375rem;
    line-height: 0.375;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.063rem;
    border: 2px solid #3b3b3b;
    transition: 0.3s;
}

.button > a:hover {
  color: #3b3b3b;
  background-color: white;
}

#mobile-menu {
  display: none;
}

#mobile-frame {
  visibility: hidden;;
}

/* 반응형 */

@media (min-width: 768px) and (max-width: 1023px) {
  .img-view{
    display: none;
  }

  #mobile-menu {
    display: none;
  }

  #mobile-frame {
    visibility: hidden;
  }
  
}

@media (max-width: 767px) {
  html {
    display: block;
    font-size: 14px;
  }

  header {
    display: block;
  }

  .mobile-view {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
  }

  .nav-var {
    height: 55px;
    display: flex;
    margin: 0px auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 93%;
  }

  .nav-menu {
    display: none;
  }
  
  #mobile-menu {
    display: block;
    width: 10%;
    height: 65%;
    position: relative;
  }

  .menu-close {
    width: 10%;
    height: 65%;
    position: relative;
  }
  
  .mobile-backgraund {
    transition: 0.5s ease-in-out;
    width: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 997;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }  

  /* open */
  .menu-open > span {
    position: absolute;
    width: 80%;
    transition: 0.3s ease-in-out;
    height: 2px;
    background-color: #3b3b3b;
  }

  .menu-open > span:nth-child(1) {
    top: 25%;
    transform: rotate(0deg);
  }

  .menu-open > span:nth-child(2) {
    top: 50%;
    opacity: 1;
  }

  .menu-open > span:nth-child(3) {
    top: 75%;
    transform: rotate(0deg);
  }
  
  /* close */
  .menu-close > span {
    position: absolute;
    width: 80%;
    transition: 0.3s ease-in-out;
    height: 2px;
    background-color: #3b3b3b;
  }

  .menu-close > span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .menu-close > span:nth-child(2) {
    top: 50%;
    opacity: 0;
  }

  .menu-close > span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  #mobile-menu > span {
    position: absolute;
    width: 80%;
    transition: 0.3s ease-in-out;
    height: 2px;
    background-color: rgb(51, 51, 51);
  }

  #mobile-frame {
    visibility: visible;
  }

  .mobile-frame-state {
    display: none;
  }

  .mobile-list-frame {
    display: block;
    position: fixed;
    transition: 0.5s ease-in-out;
    top: 0px;
    height: 100%;
    z-index: 998;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    opacity: 1;
    right: 0px;
    width: 50%;
    padding: 3.125rem 1.25rem;
  }

  .mobile-list {
    margin-top: 10rem;
  }

  .mobile-list li {
    text-align: right;
    margin-bottom: 1.25rem;
  }

  body {
    padding: 0px;
    height: initial;
    overflow: visible;
    display: block;
  }

  .main-view {
    position: static;
  }

  .img-view {
    display: none;
  }

  .text-view {
    width: 100%;
    height: 100vh;
  }

  .contents {
    padding-left: 1rem;
  }

}